@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul,
ol,
li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
/* Light theme colors */
body[data-theme='light'] {
  --color-1: rgb(255, 255, 255);
  --color-2: rgb(235, 235, 235);
  --color-3: rgb(210, 210, 210);
  --color-4: rgb(60, 60, 60);
  --color-5: rgb(30, 30, 30);
  --color-6: rgb(255, 255, 255);
}

/* Dark theme colors */
body[data-theme='dark'] {
  --color-1: rgb(30, 30, 30);
  --color-2: rgb(40, 40, 40);
  --color-3: rgb(60, 60, 60);
  --color-4: rgb(200, 200, 200);
  --color-5: rgb(230, 230, 230);
  --color-6: rgb(40, 40, 40);
}

/*--------------------*/
body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-2);
  font-size: 16px;
  max-width: 100vw;
  max-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 320px;
  height: 100%;
  min-height: 220px;
  height: 600px;
  background-color: var(--color-1);
  border-radius: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 8px;
}

@media (max-height: 597px) {
  .container {
    max-height: 100vh;
  }
}

@media (max-width: 797px) {
  body {
    -webkit-box-align: unset;
        -ms-flex-align: unset;
            align-items: unset;
  }
  .container {
    width: 100vw;
    max-height: 100%;
    height: 100%;
  }
}

button,
input {
  font-size: 16px;
  line-height: 19px;
  background-color: var(--color-1);
  border: 1px solid var(--color-5);
  border-radius: 5px;
  padding: 0 8px;
  height: 32px;
  text-decoration: none;
  color: var(--color-5);
}

button:disabled,
input:disabled {
  color: var(--color-3);
  border: 1px solid var(--color-3);
  cursor: default;
}

input:disabled::-webkit-input-placeholder {
  color: var(--color-3);
}

input:disabled:-ms-input-placeholder {
  color: var(--color-3);
}

input:disabled::-ms-input-placeholder {
  color: var(--color-3);
}

input:disabled::placeholder {
  color: var(--color-3);
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

main {
  border: 1px solid var(--color-4);
  border-radius: 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin: 8px 0;
  padding: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  gap: 8px;
  overflow-y: scroll;
  overflow: scroll;
  position: relative;
}

.date {
  text-align: center;
  color: var(--color-4);
  font-style: italic;
  background-color: var(--color-4);
  font-size: 14px;
  color: var(--color-1);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  padding: 3px 15px;
  border-radius: 10px;
  z-index: 1;
  opacity: 0.5;
}

.message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.content {
  border-radius: 10px;
}

.user {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.user .content {
  background-color: var(--color-2);
  padding: 8px 8px 8px 8px;
}

.other .content {
  background-color: var(--color-3);
  padding: 6px 8px 8px;
}

.content {
  max-width: 100%;
}

.message__user {
  color: var(--color-4);
  opacity: 0.7;
  font-size: 13px;
  line-height: 17px;
}

.message__content {
  line-height: 19px;
  word-break: normal;
  overflow-wrap: break-word;
  color: var(--color-5);
  position: relative;
  margin-bottom: 4px;
}

.message__content:last-child {
  margin-bottom: 0;
}

.message__time {
  color: var(--color-4);
  float: right;
  margin-left: 10px;
  font-size: 11px;
  font-style: italic;
  font-weight: 300;
  position: relative;
  bottom: -5px;
  opacity: 0.5;
}

.scroll-container {
  position: absolute;
  bottom: 55px;
  right: 55px;
}

.scroll {
  z-index: 2;
  position: fixed;
  display: none;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  border: 2px solid var(--color-3);
  background-color: var(--color-1);
  opacity: 0.7;
  cursor: pointer;
}

.scroll:hover {
  opacity: 1;
}

.scroll.active {
  display: block;
}

.scroll::after {
  content: '\203A';
  position: relative;
  width: 100%;
  height: 100%;
  color: var(--color-4);
  opacity: 0.8;
  font-size: 46px;
  margin-left: 3px;
  margin-top: 1px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

footer {
  width: 100%;
}

.send-message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.input-message {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  margin-right: 8px;
}

.popup {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 2;
}

.popup.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.popup-container {
  background-color: var(--color-1);
  color: var(--color-5);
  width: 273px;
  height: 273px;
  padding: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.popup-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 14px;
}

.title__close {
  cursor: pointer;
  color: var(--color-4);
}

.popup-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.popup-content.login-code {
  margin-top: 25px;
}

.popup-content.login-code form {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.content-title {
  margin-bottom: 8px;
}

.content-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 8px;
}

.content-input {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.link-code {
  text-align: center;
  cursor: pointer;
  text-decoration: underline;
  margin-top: 5px;
}

.link-code.disabled {
  pointer-events: none;
  cursor: default;
  color: var(--color-3);
}

.spinner-messages,
.spinner {
  display: none;
  width: 50px;
  height: 50px;
  margin: 0 auto;
}

.spinner-messages.active,
.spinner.active {
  display: block;
}

.theme-switcher {
  right: 0;
  top: 1px;
  height: 30px;
  width: 60px;
  position: relative;
}

.theme-switcher input {
  width: 0px;
  height: 0px;
  visibility: hidden;
}

.theme-switcher label {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  height: 30px;
  width: 60px;
  background-color: #d2d2d2;
  border-radius: 50px;
  cursor: pointer;
  -webkit-transition: 0.5s ease background-color;
  transition: 0.5s ease background-color;
}

.theme-switcher label::after {
  position: absolute;
  content: '\1F506';
  font-size: 10px;
  line-height: 20px;
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 50px;
  background-color: var(--color-1);
  top: 50%;
  left: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.theme-switcher input:checked + label {
  background-color: #d2d2d2;
}

.theme-switcher input:checked + label::after {
  content: '\1F319';
  background-color: var(--color-2);
  left: calc(100% - 25px);
}

.error-container,
.note-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  height: 80px;
  top: -81px;
  left: 0;
  right: 0;
  color: #fff;
  padding: 8px;
  text-align: center;
  z-index: 3;
  -webkit-transition: top 1s ease 0s;
  transition: top 1s ease 0s;
}

.error-container {
  background-color: #953e3e;
}

.error-container.active {
  top: 0px;
  -webkit-transition: top 1s ease 0s;
  transition: top 1s ease 0s;
}

.note-container {
  background-color: var(--color-3);
  color: var(--color-5);
}

.note-container.active {
  top: 0px;
  -webkit-transition: top 1s ease 0s;
  transition: top 1s ease 0s;
}

.connection {
  margin-top: 1px;
  height: 30px;
  width: 60px;
  background-color: lightcoral;
  color: var(--color-4);
  border-radius: 15px;
  position: relative;
  cursor: pointer;
}

.connection::after {
  position: absolute;
  content: 'offline';
  font-size: 12px;
  line-height: 20px;
  text-align: center;
  height: 20px;
  width: 50px;
  border-radius: 50px;
  background-color: var(--color-1);
  top: 50%;
  left: 5px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

.connection.connect {
  background-color: lightgreen;
}

.connection.connect::after {
  content: 'online';
}

.connection:hover {
  background-color: #eb5d5d;
}

.connection.connect:hover {
  background-color: #4aa34a;
}
/*# sourceMappingURL=style.css.map */